
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: url(../img/fondtemplate_channelfear.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Signika", "Palatino Linotype", serif;
    font-size: 14px;
    box-shadow: 0 0 50vw #000 inset;
  }
#logo {
    position: relative;
    right: 30%;
  }
  
  #logo::after {
    width: 150px;
    height: 50px;
    background-image: url("../img/logochannel.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
#sidebar {
    -webkit-box-shadow: -27px 0px 52px 10px rgb(11, 17, 11);
    -moz-box-shadow: -27px 0px 52px 10px gb(11, 17, 11);
    box-shadow: -27px 0px 52px 10px gb(11, 17, 11);
    background-image: url(../img/fondchat.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  
  #chat-log {
    background-image: url(../img/fondchat.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border: 2px black solid;
    list-style-position: inside;
  }
  
  #board {
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 100px rgba(255, 255, 255, 0.6) inset;
  }
  