#chat-log {
  .info {
    font-size: 16px;
    font-style: italic;

  }

  .resultat {
    font-size: 18px;
    text-align: end;

    span {
      border: 1px solid black;
      padding: 5px;
    }
  }

  .reussite {
    font-size: 20px;
    text-shadow: 1px 1px 8px green;
    text-align: end;
    color: rgb(26, 37, 26);

    .info {
      font-size: 16px;
      font-style: italic;
      text-align: end;
    }


  }

  .echec {
    font-size: 20px;
    text-shadow: 1px 1px 8px red;
    text-align: end;
    color: rgb(49, 29, 29);

    .info {
      font-size: 16px;
      font-style: italic;
      text-align: end;
    }


  }

  .bloque {
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 8px 5px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0, 0, 0, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background-image: -webkit-linear-gradient(0deg, rgb(107, 113, 127) 0, rgb(212, 212, 212) 33%, rgb(193, 213, 230) 100%);
    background-image: -moz-linear-gradient(90deg, rgba(107, 113, 127, 1) 0, rgba(212, 212, 212, 1) 33%, rgb(191, 210, 226) 100%);
    background-image: linear-gradient(90deg, rgba(107, 113, 127, 1) 0, rgba(212, 212, 212, 1) 33%, rgb(176, 195, 211) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 0 0 7px 4px rgba(65, 96, 119, 0.5);
    box-shadow: 0 0 7px 4px rgba(65, 96, 119, 0.5);
  }

  .titre1 {
    text-shadow: 1px 1px 26px rgba(11, 19, 104, 1);
    border: 2px solid black;
    -webkit-border-radius: 15px 99px 0 0 / 19px 99px 0 0;
    border-radius: 15px 20px 0 0 / 19px 20px 0 0;
    font: normal 1.5em/normal "Times New Roman", Times, serif;
    color: rgba(255, 255, 255, 1);
    background: rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.5);
    text-shadow: rgba(74, 134, 232, 0.02);
    padding-left: 10px;
  }

  .titre2 {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(255, 255, 255, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(48, 45, 45);
    padding-left: 10px;
    padding-right: 10px;
    border: none;
  }

  .rot {
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0, 0, 0, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -webkit-transform: rotateZ(1deg);
    transform: rotateZ(1deg);
  }

  .rot:hover {
    -webkit-transform: scaleX(1.1) scaleY(1.1);
    transform: scaleX(1.05) scaleY(1.05);
    z-index: 50;
  }


  .message {
    background: url(../img/fondcharsheet.png) repeat;
    animation: fromLeft 0.2s;
    -moz-animation: fromLeft 0.2s;
    /* Firefox */
    -webkit-animation: fromLeft 0.2s;
    /* Safari et Chrome */
    -o-animation: fromLeft 0.2s;
    /* Opera */
    float: right;
    position: relative;
    width: 95%;
    background-color: rgba(196, 232, 233, 0.678) !important;
    z-index: -1;
    margin-left: 5px;
    -webkit-transform: scaleX(1) scaleY(0.9);
    transform: scaleX(1) scaleY(0.9);
    z-index: 1000;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    color: #1c1d1b
  }

  #chat-log .message .message-header {
    line-height: 20px;
    color: #000000;
  }



  @keyframes fromLeft {
    from {
      left: 300px;
      -webkit-transform: scaleX(0.1) scaleY(0.1);
      transform: scaleX(0.1) scaleY(0.1);
    }

    to {
      left: 0px;
      -webkit-transform: scaleX(1) scaleY(0.9);
      transform: scaleX(1) scaleY(0.9);
    }
  }

  @-moz-keyframes fromLeft {

    /* sur Firefox */
    from {
      left: 300px;
      left: 0px;
      -webkit-transform: scaleX(0.1) scaleY(0.1);
      transform: scaleX(0.1) scaleY(0.1);
    }

    to {
      left: 0px;
      -webkit-transform: scaleX(1) scaleY(0.9);
      transform: scaleX(1) scaleY(0.9);
    }
  }

  @-webkit-keyframes fromLeft {

    /* sur Safari et Chrome */
    from {
      left: 300px;
      -webkit-transform: scaleX(0.1) scaleY(0.1);
      transform: scaleX(0.1) scaleY(0.1);
    }

    to {
      left: 0px;
      -webkit-transform: scaleX(1) scaleY(0.9);
      transform: scaleX(1) scaleY(0.9);
    }
  }

  @-o-keyframes fromLeft {

    /* sur Opera */
    from {
      left: 300px;
      -webkit-transform: scaleX(0.1) scaleY(0.1);
      transform: scaleX(0.1) scaleY(0.1);
    }

    to {
      left: 0px;
      -webkit-transform: scaleX(1) scaleY(0.9);
      transform: scaleX(1) scaleY(0.9);
    }
  }
}