<form class="{{cssClass}} bloque" autocomplete="off">





    <div class="bloque">
        <img class="item-image rot" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label class="pastille">nom </label>
        <input name="name" class=" channelfear" type="text" value="{{item.name}}" placeholder="Name" />
    </div>
    
    <div class="compteur ">
        <label class="pastille">quantité</label>
        <input type="text" name="data.type" value="{{data.type}}" data-dtype="Number" />


        <label class="pastille">poids</label>
        <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
    </div>
    <div class="bloque">
        <label class="pastille">description</label>

        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}



    </div>
    </div>


</form>