<form class="{{cssClass}} bloque" autocomplete="off">
    <div class="bloque">
        <img class="item-image rot" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label class="pastille">nom </label>
        <input name="name" class=" channelfear" type="text" value="{{item.name}}" placeholder="Name" />
    </div>




    <section class=" bloque">

    
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      

      
    </section>
</form>
